<div class="container-fluid">
        <div class="row">
          <div clas="row-header text-center">
              <h2>News Scraper For Charlotte-Local News!!</h2>
              <h3><i>Charlotte's most-happening channel!</i></h3>
          </div>
            <div class="col-sm-8 text-center">

                <div id="newsArticles">
                 
                </div>
            </div>
        </div>            
        <div id="reviews" class="col-sm-4"></div>
      </div>

    </diV>
  </div>